<app-fractal-component-template
  title="Sierpinski's triangle"
  [animateFunction]="animateFunc"
  [stopAnimationFunction]="stopAnimationFunc"
>
  <div class="content">
    <p>
      Sierpinski's triangle is quite a popular fractal.
      It can be implemented by a simple recursion algorithm.
      But, here I share with you a
      <a href="https://en.wikipedia.org/wiki/Chaos_game">Chaos Game</a>
      approach.
    </p>
    <p>
      The approach is pretty straight forward. Choose 3 points:
      which will act as the vertices of the triangle. Then, choose
      a random point, literally anywhere on the plane. Choose any
      one point at random out of the 3 vertices of the triangle. Now,
      plot the point which lies exactly in between the random vertex
      and the random point. Update our random point to coordinates of
      the plotted point. Now, repeat this process. This will eventually
      create a figure that looks like a Sierpinski's triangle. How wonderful!
    </p>
  </div>
</app-fractal-component-template>
